{% extends "layout.html" %}
{% block content %}
        <div class="index-wrapper">
            <div class="image">
                <img src="../static/img/me3.jpg">
            </div>
            <div class="intro-text">
                <p>Hei! Minä olen</p>
                <h1>Nana Reinkainen</h1>
                <h3>Software developer to be</h3>
                <p>ja tämä on minun portfolioni.</p>
                <p>Opiskelen tietojenkäsittelytiedettä kolmatta vuotta Helsingin yliopistossa 
                        ja tarkoituksenani on saadan kandin paperit tulevana keväänä. Täältä 
                        portfoliosta löydät opiskelujeni aikana tekemiäni sovellusprojekteja. 
                        Tulevaisuudessa haluaisin olla mukana monipuolisissa ohjelmistotuotantoprojekteissa 
                        ja laajentaa osaamistani ohjelmistokehityksen kaikilla tasoilla.
                </p>
            </div>
            <div class="career-text">
                <h2>Osaaminen</h2>
                <p>Opintojeni aikana olen oppinut perusteet Pythonista, jolla myös suurin osa projekteistani onkin toteutettu. Lisäksi web-sovellusten parissa
                        olen saanut jonkinlaista tuntumaa front-end-puolella HTML/CSS-yhdistelmään. 
                </p>

            </div>
            <div class="boxes">
                <div class="box">
                        <button class="topic">Python</button>
                        <button class="topic">SQL</button>
                        <button class="topic">HTML/CSS</button>
                        <button class="topic">Git</button>
                        <button class="topic">Ruby on Rails</button>
                </div>
            </div>
        </div>
{% endblock %}
