{% extends "layout.html" %}
{% block content %}
        <div class="index-wrapper">
            <div class="image">
                <img src="../static/img/me3.jpg">
            </div>
            <div class="intro-text">
                <p>Hello Everyone</p>
                <h1>Ritik Srivastava</h1>
                <h3>Software developer on road to OpenSource</h3>
            </div>
            <div class="career-text">
                <h2>Ready To Learn</h2>
            </div>
            <div class="boxes">
                <div class="box">
                        <button class="topic">Python</button>
                        <button class="topic">SQL</button>
                        <button class="topic">HTML/CSS</button>
                        <button class="topic">Git</button>
                        <button class="topic">Ruby on Rails</button>
                </div>
            </div>
        </div>
{% endblock %}
