{% extends "layout.html" %}
{% block content %}
        <div class="info-text">
            <h1>Project</h1>
            <p>Trying to become a better developer by making my hand dirty
            </p>
        </div>
        <div class="repo-container">
            {% for repo in repos %}
            <div class="repo">
                <a href="{{ repo['html_url'] }}" target="_blank">{{ repo['name']  }}</a> <br>
                <div class=repo-description>{{ repo['description'] }}</div> <br>
                {% for topic in repo['topics'] %}
                    <button class=repo-topics>{{ topic }}</button>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        
{% endblock %}