{% extends "layout.html" %}
{% block content %}
        <div class="info-text">
            <h1>Projektini</h1>
            <p>Täältä löytyvät projektit ovat opintojeni aikana toteutettuja sovelluksia, joissa 
                aiheina mm. yksinkertaiset 2D-pelit ja web-sovellukset. Projektit ovat pääosin toteutettuja
                Pythonilla, web-sovelluksissa front-end toteutettu HTML/CSS -yhdistelmällä. Klikkaamalla
                projektin nimeä pääsee tarkastelemaan tämän projektin GitHub-repositoriota.
            </p>
        </div>
        <div class="repo-container">
            {% for repo in repos %}
            <div class="repo">
                <a href="{{ repo['html_url'] }}" target="_blank">{{ repo['name']  }}</a> <br>
                <div class=repo-description>{{ repo['description'] }}</div> <br>
                {% for topic in repo['topics'] %}
                    <button class=repo-topics>{{ topic }}</button>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        
{% endblock %}